h1{
	display: block; 
	font-size: 2em; 
	margin-top: 0.67em; 
	margin-bottom: 0.67em; 
	margin-left: 0; 
	margin-right: 0; 
	font-weight: bold;
}

nav ul li{
	background-color: #4DFF4D;
	padding:10px;
	width:25%;
	border:1px solid black;
}

body{
	margin:1%;
	padding:1%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header, main, nav, footer{
	border: 1px solid grey;
	margin-bottom: 10px;
}

img{
    height: 200px;
    width:inherit;
    border: 3px solid blue;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}
